/Packages
/Common/YuSpin.Fw/obj
/Common/YuSpin.Fw/bin
/Common/YuSpin.Fw.Web/obj
/Common/YuSpin.Fw.Web/bin
/Common/YuSpin.Fw.Web.Owin/obj
/Common/YuSpin.Fw.Web.Owin/bin
/IRS/.vs
/IRS/IRS.Domain/obj
/IRS/IRS.Domain/bin
/IRS/IRS.Infrastructure/bin
/IRS/IRS.Infrastructure/obj
/IRS/IRS.IoC/bin
/IRS/IRS.IoC/obj
/IRS/IRS.Migrations/obj
/IRS/IRS.Migrations/bin
/IRS/IRS.Services/bin
/IRS/IRS.Services/obj
/IRS/IRS.Web/obj
/IRS/IRS.Web/bin
