@model IRS.Web.ViewModels.Common.ViewModelBase

@{
    ViewBag.Title = Labels.Error;
}

@Html.PageTitle(Labels.Error)
<div class="container">
    @*<h2>@Labels.Error</h2>*@
    <div class="body_div">
        <span>@Labels.ErrorOccured</span>
    </div>
</div>