<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Labels.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Labels.Error</h1>
        <h2>@Labels.ErrorOccured</h2>
    </hgroup>
</body>
</html>
